.side-user-image{
    width:60%
}
body{
    margin: 0;
    padding: 0;
    color: white;
}
.sidebar{
    height: 100%;
    background-image: linear-gradient(right,black,white);
}
hr{
   background-image: linear-gradient(rgb(24, 24, 29),rgb(123, 118, 123));
    border-radius: 10px;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}
.dash::-webkit-scrollbar{
    display: none;
}