@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.logo{
    width: 10%;
}
.main-img{
    width: 80%;
    padding:8% 3% 3% 10%;
}
.main-head{
    padding-top: 30%;
    padding-left: 20%;
}
.main-head-2{
    padding-left: 20%;;
    font-size: 150%;
}
.mid-head-1{
    padding-top: 18%;
    padding-left: 20%;
}
.btn1,
.btn2{
    background-color: rgba(51, 54, 58, 0.767);
    border:none;
}
.btn1:hover,
.btn2:hover{
    background-color: rgba(139, 139, 139, 0.685);
}
.btn2{
    margin-left: 20px;;
}

.btncol{
    display: flex;
}

.row1{
    margin-top: 3%;
    margin-left: 18%;
}
.para-1{
    margin-top: 50px;
    padding:15px 15px 15px 15px;
    font-family: 'Montserrat', sans-serif;
}
.cus{
    text-align: center;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}
.user{
    margin-top: 30px;
    width: 50%;
    margin-left: 110px;
}
.para-2{
    padding: 15px 15px 15px 15px;
}
.button{
    padding: 6px;
    margin-left: 7px;;
}
.add{
    padding-top: 30px;
    padding-left: 30px;
}
pre{
    color: cornsilk;
}
.foothead{
    color: darkgray;
}
.feedback{
    background-image: url('../img/ios_13_ipados_green_dark_mode_4k.jpg');
    background-size: cover;
    height: 140px;
    background-attachment: fixed;
}
.wtd{
    width: 100%;
    padding: 20px 20px 20px 20px;
}
.wtdcol{
    padding:20px 20px 20px 20px;
}
.g-signin2{
    margin-top: 7px;
    width: 10px;
}
